/*  configurações gerais */
:root{
    --var-fundo-cabecalho-rodape: rgb(255, 255, 255);
    --var-fundo-do-main:  rgb(243, 243, 243);
    --var-largura-da-pagina: 375px;
    --var-fundo-mensagens-entrada-saida: #DCDCDC;
    --var-hora: rgb(147, 129, 129);
}

button{
    cursor: pointer;
    box-sizing: content-box;
    margin-right: 22px;
    width: 46px;
    background-color: white;
    border: none;
}

body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* align-items: center; */
    position: relative; 
}


/* janela 2 */

.janela2{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 259px;
    height: 400px;
    z-index: 6;
    background-color: rgb(255, 255, 255);
    margin-left: 118px;
    box-shadow: -4px 6px 9px rgb(1, 1, 1, 0.5);
}

    .janela2 .h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        margin-top: 25px;
    }

    .janela2 .usuarios{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        overflow-y: auto;
        cursor: pointer;

    }


        .janela2 .usuarios .caixaNomeIcon{
            display: flex;
            flex-direction: row;
            align-items: center;    
            width: 220px;
            background-color: rgb(255, 255, 255);
            position: relative;
            height: 36px;
        }

        .janela2 .usuarios .caixaNomeIcon:hover{
            text-decoration: underline;
            background-color: rgb(214, 214, 214);
        }

            .janela2 .usuarios .checkBox{
                display: none;
            }

            .janela2 .usuarios .checkBox.selecionado{
                display: block;
                color: #28BB25;
                position: absolute;
                right: 0;
            }


    .janela2 button{
        width: auto;
        position: absolute;
        bottom: 25px;
        border: solid 1px;
        border-radius: 10px;
    }

        .janela2 button:hover{
            background-color: rgb(214, 214, 214);
        }


/* header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--var-fundo-cabecalho-rodape);
    width: var(--var-largura-da-pagina);
    height: 85px;
    position: fixed;
    box-shadow: 0px 4px 5px rgb(0, 0, 0 , 0.3);
}


    header img{
        width: 75px;
        height: 53px;
        margin-left: 22px;

    }

    .nomeUsuario{
        margin-left: -8px;
        box-sizing: border-box;
        display: block;
        text-align: center;
        width: 200px;
        align-items: center;
        justify-content: center;
        /* border: solid; */
        font-style: italic;
        text-decoration: underline;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.993);
        font-size: 24px;

    }

    header button{
        box-sizing: content-box;
        margin-right: 22px;
        width: 46px;
        background-color: white;
        border: none;
    }

    header ion-icon{
        width: 45px;
        height: 45px;
        font-weight: 900;
    }


/* configurações main */

main{
    box-sizing: border-box;
    overflow: scroll;
    position: fixed;
    /* background-color: var(--var-fundo-do-main); */
    background-color: var(--var-fundo-do-main);
    width: var(--var-largura-da-pagina);
    top: 92px;
    bottom: 88px;
    z-index: 5;
}


    main .mensagem{
        display: flex;
        align-items: center;    
        justify-content: left;
        min-height: 40px;
        margin-bottom: 4px;
        width: var(--var-largura-da-pagina);
    }

    main .message{
        background-color: white;
    }

    main .status{
        background-color: var(--var-fundo-mensagens-entrada-saida);
    }

    main .private_message{
        background-color: #FFDEDE;
    } 

    p{
        margin-left: 8px;
    }

    main p span{
        color: var(--var-hora);
    }

    main p strong{
        font-weight: 700;
    }

/* configuraçẽs do footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: var(--var-largura-da-pagina);
    background-color: var(--var-fundo-cabecalho-rodape);
    box-shadow: 0px -3px 5px rgb(0, 0, 0 , 0.3);
}

    footer input{
        margin-left: 17px;
        height: 30px;
        width: 100%;
        border: solid 1px rgb(214, 214, 214);
        border-radius: 15px;

    }

    footer ion-icon{
        width: 26px;
        height: 26px;
        margin-right: 27px;
    }


    
.oculto{
    display: none;
}
